{% extends "reviews/_base.html" %}
{% load static %}
{% block content %}

    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.user.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' object.user.username %}">{{ object.user }}</a>
              <small class="text-muted">{{ object.time_created|date:"H:i, F d, Y" }}</small>
                {% if object.user == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'review-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'review-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
            <h2 class="mt-2">
                <a class="article-title" href="{% url 'review-detail' object.id %}">
                    <h6 class="mb-0"><span class="badge badge-success">Review</span></h6>
                    {{ object.headline }}
                </a>
            </h2>
            <p class="star-rating-{{ object.rating }}" style="font-size: 22px; color: #cccccc">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </p>
            <div class="review-body">
                {% if object.image %}
                    <img class="img-thumbnail float-left mb-1 mr-3" style="height:200px" src="{{ object.image.url }}" alt="{{ object.headline }}">
                {% endif %}
                <p class="article-content text-justify mt-3">{{ object.body }}</p>

                {% if object.ticket %}
                    <div class="media mt-5">
                        <img class="rounded-circle article-img" style="height:50px; width:50px" src="{{ object.ticket.user.profile.image.url }}">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="{% url 'user-posts' object.ticket.user.username %}">{{ object.ticket.user }}</a>
                                <small class="text-muted">{{ object.ticket.time_created|date:"H:i, F d, Y" }}</small>
                            </div>
                            <h4 class="mt-2">
                                <a class="article-title mt-0" href="{% url 'ticket-detail' object.ticket.id %}">
                                    <h6 class="mb-0"><span class="badge badge-primary">Ticket</span></h6>
                                    {{ object.ticket.title }}
                                </a>
                            </h4>
                            <div class="ticket-description">
                                {% if object.ticket.image %}
                                    <img class="img-thumbnail float-left mr-3" style="height:120px" src="{{ object.ticket.image.url }}" alt="{{ object.ticket.title }}">
                                {% endif %}
                                <p class="article-content text-justify mt-3 mr-3" style="font-size:15px">{{ object.ticket.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </article>

{% endblock content %}
