<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ post.user.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      {% if post.user == user %}
      <a class="mr-2" href="{% url 'user-posts' %}">{{ post.user }}</a>
      {% else %}
      <p class="mr-2" style="display: inline; color: #333333">{{ post.user }}</p>
      {% endif %}
      <small class="text-muted">{{ post.time_created|date:"H:i, F d, Y" }}</small>
      {% if post.user == user %}
        <a class="btn btn-outline-secondary btn-sm mt-1 mb-1 ml-3" href="{% url 'review-update' post.id %}">Update</a>
        <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url 'review-delete' post.id %}">Delete</a>
      {% endif %}
    </div>
    <h6 class="mb-0"><span class="badge badge-success">Review</span></h6>
    <h2 class="mt-0">{{ post.headline }} -
      <p class="star-rating-{{ post.rating }}" style="font-size: 22px; color: #cccccc; display:inline">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </p>
    </h2>
    {% if post.ticket %}
    <strong class="text-success">In response to "{{ post.ticket.title }}" by <i>{{ post.ticket.user }}</i></strong>
    {% endif %}
    <div class="review-body">
      {% if post.image %}
      <img class="img-thumbnail float-left mb-1 mr-3" style="height:150px" src="{{ post.image.url }}"
           alt="{{ post.headline }}">
      {% endif %}
      <p class="article-content text-justify mt-3 mr-3">{{ post.body }}</p>
    </div>
  </div>
</article>