{% extends "reviews/_base.html" %}
{% load static %}
{% block content %}

    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.user.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' object.user.username %}">{{ object.user }}</a>
              <small class="text-muted">{{ object.time_created|date:"H:i, F d, Y" }}</small>
                {% if object.user == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>
                </div>
                {% endif %}
            </div>
            <h2 class="mt-2">
                <a class="article-title" href="{% url 'ticket-detail' object.id %}">
                    <h6 class="mb-0"><span class="badge badge-primary">Ticket</span></h6>
                    {{ object.title }}
                </a>
            </h2>
            <div class="ticket-body">
                {% if object.image %}
                    <img class="img-thumbnail float-left mb-1 mr-3" style="height:200px" src="{{ object.image.url }}" alt="{{ object.title }}">
                {% endif %}
                <p class="article-content text-justify mt-3">{{ object.description }}</p>
            </div>
        </div>
    </article>

{% endblock content %}
