# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.coverage

# Django stuff:
db.sqlite3
media/profile_pics/*
media/reviews_img/*

# Environments
.env
env/

# PyCharm
.idea/

# Misc
notes.txt