{% extends "reviews/_base.html" %}
{% block content %}

<div class="container">
  <div class="mb-3">
    <h1 class="mb-0">Subscriptions</h1>
  </div>
</div>

<div class="content-section">
  <h4 class="mb-3 mt-2">Subscribe to a user</h4>
  <fieldset class="form-group mt-3">
    <form class="form-group" method="POST">
      {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter username here">
        <div class="input-group-append">
          <button class="btn btn-success" type="submit" id="button-addon2">Subscribe</button>
        </div>
      </div>
    </form>
  </fieldset>

  {% if user_follows %}
  <h4 class="mb-3">Followed users ({{ user_follows.count }})</h4>
  <div class="card mb-5">
    <ul class="list-group list-group-flush">
        {% for follow in user_follows %}
      <li class="list-group-item">
        <p class="mb-0">
          <img class="rounded-circle article-img" src="{{ follow.followed_user.profile.image.url }}" style="height:50px; width:50px">
          {{ follow.followed_user.username }}
            <a class="btn btn-outline-danger btn-sm float-right mt-2" href="{% url 'confirm-unsub' %}">Unsubscribe</a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if followed_by %}
  <h4 class="mb-3">Users following you ({{ followed_by.count }})</h4>
  <div class="card mb-4">
    <ul class="list-group list-group-flush">
      {% for follow in followed_by %}
      <li class="list-group-item">
        <p class="mb-0">
          <img class="rounded-circle article-img" src="{{ follow.user.profile.image.url }}" style="height:50px; width:50px">
          {{ follow.user.username }}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

</div>

{% endblock content %}