{% extends "reviews/_base.html" %}
{% load static %}
{% block content %}

<div class="container p-0">
  <div class="row mb-2">
    <h1 class="col-8 py-2 mb-0">
      {% if posts %}
        {{ title }}
      {% endif %}
    </h1>
    <div class="btn-group col py-2 mt-2 mb-1" role="group">
      <a type="button" class="btn btn-primary" href="{% url 'reviews:ticket-new' %}">Create Ticket</a>
      <a type="button" class="btn btn-success" href="{% url 'reviews:new' %}">Write Review</a>
    </div>
  </div>
</div>

{% if posts %}

  {% include 'reviews/_pagination.html' %}

  {% for post in posts %}

    {% if post.content_type == 'REVIEW' %}
      {% include 'reviews/review_snippet.html' %}
    {% elif post.content_type == 'TICKET' %}
      {% include 'reviews/ticket_snippet.html' %}
    {% endif %}

  {% endfor %}

  {% include 'reviews/_pagination.html' %}

{% else %}

<!-- No posts to display -->
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">No posts to display</h5>
    {% if request.get_full_path == "/" %}
      <p class="card-text">
        <a href="{% url 'reviews:new' %}">Write</a> or
        <a href="{% url 'reviews:ticket-new' %}">request</a> a review, or subscribe to a user to view their posts.
      </p>
      <a type="button" class="btn btn-success" href="{% url 'users:subscriptions' %}">View Subscriptions</a>
    {% else %}
      <p class="card-text">You have not written any posts yet. <a href="{% url 'reviews:new' %}">Write</a> or
        <a href="{% url 'reviews:ticket-new' %}">request</a> a review to get started.
      </p>
    {% endif %}
  </div>
</div>

{% endif %}

{% endblock content %}