{% extends "reviews/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <div class="row mb-2">
    <h1 class="col-8 py-2 mb-0">{{ title }}</h1>
  </div>
</div>

<div class="content-section">
  <form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}

    <fieldset class="form-group">
      {% if request.get_full_path == "/review/new/" %}
        <h3 class="mb-4">Book / Article</h3>
        {{ t_form|crispy }}

      {% else %}
      <!-- Ticket for response review -->
        <h4 class="mb-4">Replying to {{ post.user }} :</h4>
        <article class="media ml-4 mr-4">
          <div class="media-body">
            <h3 class="mt-0 d-inline">{{ post.title }}</h3>
            <small class="text-muted ml-2">{{ post.time_created|date:"H:i, F d, Y" }}</small>
            <div class="ticket-description">
              {% if post.image %}
                <img class="img-thumbnail float-left mb-1 mr-3" src="{{ post.image.url }}"
                     alt="{{ post.title }}">
              {% endif %}
              <p class="article-content text-justify mt-3 mr-3">{{ post.description }}</p>
            </div>
          </div>
        </article>
      {% endif %}

      <hr class="mb-4">
      <h3 class="mb-4">Your Review :</h3>
      {% crispy r_form %}
      <div class="float-right mt-3">
        <a class="btn btn-link" href="{% url 'reviews:feed' %}">Cancel</a>
        <button class="btn btn-success" type="submit">Post</button>
      </div>
    </fieldset>

  </form>
</div>

{% endblock content %}